$global-font-family: "Open Sans", Arial, sans-serif;

$base-color__gray: #444444;
$base-color__aquamarine: #63d1bb;
$base-color__aquamarine--dark: #56c3b2;


$text-color__default: black;
$text-color__gray: $base-color__gray;
