.category__wrapper {
  @include section-wrapper;
  display: flex;
  flex-wrap: wrap;
}

.category__item-wrapper {
  @include section-wrapper--padding;
  display: block;
}

.category__item {
  @include font(bold, 19px, 24px, white);
  width: 100%;
  text-decoration: none;

  @include respond-to($DEVICE__MOBILE) {
    &:hover,
    &:active {
      padding-bottom: 5px;
    }
  }

  &:active {
    color: rgba(256, 256, 256, 0.7);
  }

  &--accessory {
    background-color: $base-color__aquamarine;

    &:hover,
    &:active{
      background-color: #59d5bc;
    }
  }

  &--toy {
    background-color: $base-color__aquamarine--dark;

    &:hover,
    &:active{
      background-color: #46c1ae;
    }
  }
}

.category__name {
  padding-right: 100px;
  display: block;
  padding-top: 25px;
  padding-bottom: 30px;
}

@include respond-to($DEVICE__MOBILE) {
  .category__wrapper {
    padding: 0;
  }
}

@include respond-to($DEVICE__TABLET_AND_DESKTOP) {
  .category__wrapper {
    @include section-wrapper;
  }

  .category__item-wrapper {
    padding: 0;
  }

  .category__item {
    width: 50%;
    @include font(bold, 20px, 30px, white);
  }

  .category__name {
    margin: 0;
    padding: 28px 120px 31px 36px;
  }
}

@media ( min-width: 960px ) {
  .category__name {
    padding-right: 330px;
  }
}
