.production {
  margin-top: 30px;
  margin-bottom: 58px;
}

.production__wrapper {
  @include section-wrapper();
}

.production__wrapper-top,
.production__wrapper-bottom {
  padding-left: 33px;
  padding-right: 33px;
  border: solid 1px #ededed;
}

.production__wrapper-top {
  border-bottom-width: 0;
}

.production__wrapper-bottom {
  border-top-width: 0;
  padding-bottom: 32px;
}

.production__title {
  @include font(bold, 17px, 24px);
  padding: 22px 0 24px 56px;
  margin: 0;
}

.production_desc {
  @include font(bold, 13px, 24px, $text-color__gray);

  padding-top: 27px;
  margin-top: 0;
  margin-bottom: 25px;
}

.production__video {
  img {
    display: block; // чтобы убрать отступа под картинкой
  }
}
