.top-panel__wrapper {
  @include section-wrapper();
  position: relative;
}

.top-panel__menu-toggler {
  display: none;
}

.top-panel__menu-item {
  @include font(bold, 17px, 20px);
  text-decoration: none;
  color: $text-color__default;

  &[href] {
    &:hover {
      color: rgba($text-color__default, 0.6);
    }

    &:active {
      color: rgba($text-color__default, 0.3);
    }
  }
}

.top-panel__delivery-note {
  display: none;
  @include font(normal, 15px, 24px, $text-color__gray);
}

@include respond-to($DEVICE__MOBILE) {
  .top-panel {
    width: 100%;
    height: 78px;
    text-align: center;

    &.top-panel--no-js {
      height: auto;
    }
  }

  .top-panel__logo {
    display: inline-block;
    margin: 20px 0;
  }

  .top-panel__menu-item {
    display: block;
    border-top: solid 1px #ececec;
    width: 320px;
    margin-left: -30px;
    background-color: white;
    text-align: left;
    padding: 29px 29px 29px 75px;
    box-sizing: border-box;

    &--cart {
      border-bottom: solid 1px #ececec;
    }

    .top-panel--menu-closed & {
      display: none;
    }
  }

  .top-panel--no-js .top-panel__additional-menu,
  .top-panel--menu-opened .top-panel__additional-menu {
    display: none;
  }

  .top-panel__delivery-note {
    display: none;
  }

  .top-panel__menu-toggler {
    @include hide-text;
    display: inline-block;
    position: absolute;
    right: 22px;
    top: 19px;
    width: 40px;
    height: 40px;
    background: url("/img/icon-menu-open.svg") no-repeat 50% 50%;
    cursor: pointer;

    .top-panel--menu-closed & {
      background-image: url("/img/icon-menu-open.svg");
    }

    .top-panel--menu-opened & {
      background-image: url("/img/icon-menu-close.svg");
    }

    .top-panel--no-js & {
      display: none;
    }

    &:hover {
      // TO_DO
    }

    &:active {
      // TO_DO
    }
  }
}

@include respond-to($DEVICE__TABLET_AND_DESKTOP) {
  .top-panel {
    height: 88px;
  }

  .top-panel__logo {
    width: 200px;
    flex-grow: 1;
    order: 1;
  }

  .top-panel__menu-toggler {
    display: none;
  }

  .top-panel__wrapper {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }

  .top-panel__delivery-note {
    display: block;
    order: 100;
    margin-left: auto;
    margin-top: 18px;
  }

  .top-panel__menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: none;
    border-bottom: none;
    background-color: transparent;
    box-sizing: border-box;
    height: 88px;
    padding-bottom: 4px; // костыль для точного совпадения с макетом
  }

  .top-panel__user-menu .top-panel__menu-item {
    border-left: solid 1px #ececec;

    &--search {
      @include hide-text;
      width: 82px;
      border-left: solid 1px #ececec;
    }

    &--cart {
      width: 265px;
      justify-content: flex-end;
    }
  }
}

@mixin menu-item-in-second-row {
  font-size: 15px;
  height: 60px;
  padding: 0 30px;

  &:first-of-type {
    padding-left: 0;
  }
}

@include respond-to($DEVICE__TABLET) {
  .top-panel__user-menu {
    display: flex;
    order: 2;
  }

  .top-panel__main-menu {
    display: flex;
    order: 10;
    max-width: 430px;

    .top-panel__menu-item {
      @include menu-item-in-second-row;
      padding: 0 18px;
    }
  }

  .top-panel__additional-menu {
    display: none;
  }
}

@include respond-to($DEVICE__DESKTOP) {
  .top-panel__logo {
    width: 180px;
    flex-grow: 1;
    order: 2;
  }

  .top-panel__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .top-panel__user-menu {
    display: flex;
    order: 3;
  }

  .top-panel__main-menu {
    display: flex;
    order: 1;
    max-width: 440px;

    .top-panel__menu-item {
      border-right: solid 1px #ececec;
      padding: 0 35px 4px;

      &:last-of-type {
        border-right: none;
      }

      &:first-of-type {
        padding-left: 0;
      }
    }
  }

  .top-panel__additional-menu {
    display: flex;
    order: 4;
    max-width: 700px;

    .top-panel__menu-item {
      @include menu-item-in-second-row;
    }
  }
}

